/* style3.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  .bus-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .schedule {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .schedule h3 {
    margin-top: 0;
  }
  
  .station {
    display: flex;
    justify-content: space-between;
  }
  
  .start-station,
  .end-station {
    flex: 1;
  }
  
  .schedule p {
    margin: 5px 0;
  }
  
  .schedule p strong {
    font-weight: bold;
  }
  
  .arrow {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid #000;
  }
  
  .arrow .duration,
  .arrow .distance {
    margin: 5px 0;
  }
  
  .button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #39803F; /* Darker shade on hover */
  }
  